Ex10_Client2/xml-resources/web-service-references/StudentWebService/wsdl/localhost_8080/StudentWebService/StudentWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="deleteStudent" type="tns:deleteStudent"/>

<xs:element name="findAllStudent" type="tns:findAllStudent"/>

<xs:element name="findAllStudentResponse" type="tns:findAllStudentResponse"/>

<xs:element name="findStudentbyId" type="tns:findStudentbyId"/>

<xs:element name="findStudentbyIdResponse" type="tns:findStudentbyIdResponse"/>

<xs:element name="insertStudent" type="tns:insertStudent"/>

<xs:element name="insertStudentResponse" type="tns:insertStudentResponse"/>

<xs:element name="student" type="tns:student"/>

<xs:element name="updateStudent" type="tns:updateStudent"/>

<xs:element name="updateStudentResponse" type="tns:updateStudentResponse"/>

<xs:complexType name="updateStudent">
<xs:sequence>
<xs:element name="stud" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="gpa" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertStudent">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gpa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllStudent">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllStudentResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentbyId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteStudent">
<xs:sequence>
<xs:element name="id" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>